{{- /*
  Similar Posts - show posts sharing the 1st or 2nd tag of the current page.
  Usage: {{ partial "similar-posts.html" . }}
*/ -}}
{{- $tags := .Params.tags -}}
{{- $tag1 := index $tags 0 -}}
{{- $tag2 := index $tags 1 -}}
{{- $refs := .Params.refs -}}
{{- $ref1 := index $refs 0 -}}
{{- $ref2 := index $refs 1 -}}
{{- if or $tag1 $tag2 $ref1 $ref2 -}}
  {{- $current := . -}}
  {{- $limit := 5 -}}
  {{- $related := slice -}}
  {{- range .Site.RegularPages -}}
    {{- $tagMatch := or (and $tag1 (in .Params.tags $tag1)) (and $tag2 (in .Params.tags $tag2)) -}}
    {{- $refMatch := or (and $ref1 (in .Params.refs $ref1)) (and $ref2 (in .Params.refs $ref2)) -}}
    {{- if and (ne . $current) (or $tagMatch $refMatch) -}}
      {{- $related = $related | append . -}}
    {{- end -}}
  {{- end -}}
  {{- if $related -}}
  <ul class="article-list similar-posts" role="list" aria-label="Related posts">
    <li class="year-divider" role="presentation" aria-hidden="true">
      <span class="year-label">&#9655; See Also</span>
    </li>
    {{- range first $limit $related }}
    <li class="article-item"
        data-url="{{ .RelPermalink }}"
        data-title="{{ .Title | lower }}"
        aria-selected="false">
      <a href="{{ .RelPermalink }}" class="article-link">
        <span class="article-meta">
          <span class="article-date">
            <span class="nf nf-sm" aria-hidden="true"> </span>{{ .Date.Format "02 Jan 2006" }}
          </span>
        </span>
        <span class="article-title">{{ .Title }}</span>
      </a>
      {{- with .Params.tags }}
      <span class="post-tags">
        {{- range first 2 . -}}
        <a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}" class="post-tag">{{ . }}</a>
        {{- end -}}
      </span>
      {{- end }}
    </li>
    {{- end }}
  </ul>
  {{- end -}}
{{- end -}}
